<p><%= @user.name %>さん、いつもテキストフリマをご利用いただきありがとうございます。</p>
<p>おめでとうございます！出品していた「<%= @post.title %>」が購入されました。</p>
<p>「<%= @post.title %>」の詳細ページのチャットから購入者の方と商品を受け渡しする場所や日時を相談して決めてください。</p>

<p><%= link_to 'サイトへ移動', @url %></p>
