<p><%= @user.name %>さん、いつもテキストフリマをご利用いただきありがとうございます。</p>
<p>残念ですが、一度購入された「<%= @post.title %>」がキャンセルされました。</p>
<p>諦めずに「<%= @post.title %>」の新しい購入者が現れるのをお待ちください！</p>

<p><%= link_to 'サイトへ移動', @url %></p>