<!DOCTYPE html>
<html>
  <body>
    <p>こんにちは <%= @seller.name %>さん</p>
    <p>一度購入された<%= @post.title%>がキャンセルされました。</p>
    <p>残念ですが、また次回購入されるのをお待ちください。</p>
    <p>ログインはこちらから: <a href="<%= @url %>"><%= @url %></a></p>
  </body>
</html>