<!DOCTYPE html>
<html>
  <body>
    <p>こんにちは <%= @receiver.name %>さん</p>
    <p><%= @post.title%>を購入した方からチャットでコメントが届きました。</p>
    <p>できるだけ早く返信し商品のやり取りを完了させましょう。</p>

    <p>ログインはこちらから: <a href="<%= @url %>"><%= @url %></a></p>

  </body>
</html>